<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context.xsd
	 http://www.springframework.org/schema/mvc
	 http://www.springframework.org/schema/mvc/spring-mvc.xsd 
	 http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
<context:component-scan base-package="com.project.hotel,com.project.customer,com.project.employee,com.project.booking,com.project.payment"/>
<tx:annotation-driven transaction-manager="transactionManager"/>
<mvc:annotation-driven/>
 <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/project" />
        <property name="username" value="root" />
        <property name="password" value="admin@123" />
    </bean>

    <!-- Hibernate template configuration -->
   
       <bean id="sessionFactory"
        class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">

        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>

            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.project.hotel.Hotel</value>
                <value>com.project.hotel.City</value>
                <value>com.project.hotel.State</value>
                <value>com.project.customer.Customer</value>
                <value>com.project.employee.Employee</value>
                <value>com.project.booking.Booking</value>
                <value>com.project.payment.Payment</value>
             </list>
        </property>
   </bean>
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager"> 
<property name="sessionFactory" ref="sessionFactory" /> 
</bean> 
	    <bean id="template" class="org.springframework.orm.hibernate5.HibernateTemplate">  
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	    </bean>  

<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	<property name="prefix" value="/"/>
	<property name="suffix" value=".jsp"/>
</bean>
</beans>
